header {
    margin-bottom: 2rem;
}

header, footer {
    background-color: #f8f8f8;
}

footer {
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p{
    margin: 0;
}

form {
	margin: 10px 0;
}